/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, ol, li, table, tr, td, th {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

/* Variables */
:root {
  --brown-800: hsl(14, 45%, 36%);
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
}

/* Font Families */
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border-top: 1px solid var(--stone-150);
  margin: 0 2rem;
}

main {
  background-color: rgb(243, 230, 215);
  min-height: 100vh;
}

.recipe__article {
  background-color: #FFFFFF;
  border: 1px solid var(--stone-100);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
}

.recipe__header {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.recipe__header-image {
  height: auto;
}

.recipe__header-headline {
  color: var(--stone-900);
  font-size: 2.25rem;
  line-height: 1.2;
}

.recipe__header-copy {
  color: var(--stone-600)
}

.recipe__header-headline, .recipe__header-copy {
  padding: 0 1.75rem;
}

/* Preparation section */
.recipe__preparation-section {
  background-color: var(--rose-50);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.75rem;
  padding: 1.5rem;
}

.recipe__preparation-headline {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
}

.recipe__preparation-list li {
  color: var(--stone-600);
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.recipe__preparation-list li::marker {
  color: var(--rose-800);
  margin-right: 2rem;
}

/* Preparation, Ingredients, Instructions, Nutrition sections */
.recipe__article-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.75rem;
}

.recipe__section-headline {
  color: var(--brown-800);
  font-size: 1.75rem;
}

.recipe__section-list {
  list-style-position: outside;
  padding: 0 1.25rem;
}

.recipe__section-list li {
  color: var(--stone-600);
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.recipe__section-list li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.recipe__list-item--bold {
  color: var(--stone-600);
  font-weight: bold;
}

/* Ingredients section */
.recipe__ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.75rem;
}

/* Nutrition section */
.recipe__nutrition-section {
  margin-bottom: 1.75rem;
}

.recipe__nutrition-copy {
  color: var(--stone-600);
}

.recipe__nutrition-table {
  border-collapse: collapse;
}

.recipe__nutrition-table tr {
  border-bottom: 1px solid var(--stone-150);
  display: grid;
  grid-template: repeat(1, auto) / repeat(9, 1fr);
}

.recipe__nutrition-table tr:last-child {
  border-bottom: 0;
}

.recipe__nutrition-table td {
  padding: 0.5rem 0;
}

.recipe__nutrition-nutrient {
  color: var(--stone-600);
  grid-column: 2 / 4;
}

.recipe__nutrition-nutrient-value {
  color: var(--brown-800);
  font-weight: bold;
  grid-column: 6 / -1;
}

@media screen and (min-width: 768px) {
  main {
    padding: 3rem 0;
  }

  .recipe__article {
    border: 1px solid var(--stone-100);
    border-radius: 24px;
    padding: 2.5rem;
  }

  .recipe__header-image {
    border-radius: 12px;
  }

  .recipe__header-headline, .recipe__header-copy {
    padding: 0;
  }

  .recipe__preparation-section, hr {
    margin: 0;
  }

  .recipe__article-section {
    padding: 0;
  }

  .recipe__article-section:last-child {
    margin-bottom: 0;
  }

  .recipe__nutrition-table tr {
    grid-template-columns: repeat(22, 1fr);
  }

  .recipe__nutrition-nutrient {
    grid-column: 2 / 12;
  }

  .recipe__nutrition-nutrient-value {
    grid-column: 12 / -1;
  }
}